body {
  font-family: Poppins, system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
}
.navbar-brand {
  color: #00a8a8 !important;
  font-weight: 600;
}
.btn-primary,
.btn-outline-primary {
  background-color: #00a8a8;
  border-color: #00a8a8;
}
